In [1]:
import sys
sys.path

['/Users/davidnathanael/Desktop/UCB_BOOTCAMP/Module6-World_Weather_Analysis',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python37.zip',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7/lib-dynload',
 '',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/aeosa',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/locket-0.2.1-py3.7.egg',
 '/Users/davidnathanael/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/extensions',
 '/Users/davidnathanael/.ipython']

In [2]:
# 6.5.2 Create Heatmaps for Weather Parameters

# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-09-24 22:21:59,-46.1927,168.8643,48.47,92,64,11.59
1,1,Aranos,NaN,2021-09-24 22:21:59,-24.1333,19.1167,67.35,13,2,11.14
2,2,Cape Town,ZA,2021-09-24 22:18:22,-33.9258,18.4232,57.11,84,0,2.30
3,3,Atuona,PF,2021-09-24 22:20:54,-9.8000,-139.0333,77.85,78,74,16.44
4,4,Anshun,CN,2021-09-24 22:22:00,26.2500,105.9333,62.29,97,37,7.94

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Create a Maximum Temperature Heatmap

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Create a Wind Speed Heatmap

# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 6.5.3 Get Vacation Criteria

# Customer input statement
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Atuona,PF,2021-09-24 22:20:54,-9.8000,-139.0333,77.85,78,74,16.44
7,7,Kandrian,PG,2021-09-24 22:22:01,-6.2167,149.5500,79.92,84,93,5.48
9,9,Kapaa,US,2021-09-24 22:22:01,22.0752,-159.3190,84.18,77,90,3.00
14,14,Hilo,US,2021-09-24 22:22:04,19.7297,-155.0900,86.29,64,1,10.36
17,17,Daru,PG,2021-09-24 22:22:05,-9.0763,143.2092,77.94,89,57,11.03
24,24,Najran,SA,2021-09-24 22:22:07,17.4924,44.1277,75.85,20,75,2.68
27,27,Lompoc,US,2021-09-24 22:22:09,34.6391,-120.4579,85.01,76,1,12.66
30,30,Mangalam,IN,2021-09-24 22:22:09,9.7667,78.6667,82.98,72,100,2.15
37,37,Dakar,SN,2021-09-24 22:22:12,14.6937,-17.4441,82.53,74,0,13.80
39,39,Salinopolis,BR,2021-09-24 22:22:13,-0.6136,-47.3561,80.73,79,98,11.74

In [24]:
# 3 different ways to check if there any null values for the rows in preferred_cities_df

preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [25]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [26]:
preferred_cities_df.notnull().sum()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [27]:
# 6.5.4 Map Vacation Criteria

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3        Atuona      PF     77.85  -9.8000 -139.0333
7      Kandrian      PG     79.92  -6.2167  149.5500
9         Kapaa      US     84.18  22.0752 -159.3190
14         Hilo      US     86.29  19.7297 -155.0900
17         Daru      PG     77.94  -9.0763  143.2092
24       Najran      SA     75.85  17.4924   44.1277
27       Lompoc      US     85.01  34.6391 -120.4579
30     Mangalam      IN     82.98   9.7667   78.6667
37        Dakar      SN     82.53  14.6937  -17.4441
39  Salinopolis      BR     80.73  -0.6136  -47.3561

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Atuona,PF,77.85,-9.8000,-139.0333,Villa Enata
7,Kandrian,PG,79.92,-6.2167,149.5500,Kandrian Station
9,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Daru,PG,77.94,-9.0763,143.2092,Daru Lodge
24,Najran,SA,75.85,17.4924,44.1277,محمد هادي ال فطيح
27,Lompoc,US,85.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
30,Mangalam,IN,82.98,9.7667,78.6667,Sathishkumar yadav
37,Dakar,SN,82.53,14.6937,-17.4441,Redface Studios Meublés
39,Salinopolis,BR,80.73,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [33]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))